.text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-center: justify;
}

.absolute {
  right: 50%;
  transform: translateX(50%);
}

.relative {
  right: 150%;
  transform: translateX(50%);
}

.flex {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-center: justify;
}

.text {
  text-align: center;
  margin: auto;
}

.float-left {
  width: 60%;
  max-width: 880px;
  margin: 0 auto;
  background-color: #f6ebda;
}
